*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  height: 100%;
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Media responsive */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

header {
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

#engine {
  display: block;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
}